<div id="page_wrapper" class="d-flex">
    <div id="profile_image">
        <%= image_tag "profile.jpg", class: 'photo' %>
    </div>
    
    <div id="content" class="text-justify ml-3 mr-5">
        <h1>Hey, I'm Henry Nixson</h1>
        <p>Welcome to week 2 of my 12 Web Apps in 12 Weeks Challenge.  I'm your teacher and the person who learns the most in the classroom. 
         This week, I built a blog in Ruby on Rails 4.  You're actually on the application right now.
            Cool staff, right!.</p>
        <p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter
        <a href="http://twitter.com/mackenziechild">henrynixon.me</a>,
            and get my posts and exclusive content in your inbox by signing up for my newsletter
        <a href="http://eepur.com/02olt">Here</a></p>
    </div>
</div>
